
@model AddnRemovePara.ViewModel.ParaViewModel

@using AddnRemovePara.Models
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>ShowPara</title>
</head>
<body>
  
    <form method="post">
        <div class="row">
            <div class="col-sm-2">


                @Html.ListBoxFor(model => model.SelectedParaLeftID, new MultiSelectList(Model.paraLeftList, "Value", "Text"), new { @id = "ParaID", @style = "width:200px;height:60px;" })

            </div>
            <div class="col-sm-2">
                
                <a href="~/Controllers/Add">
                    <input type="submit" value=">>" name="Add" />
                </a>
                <br/>

                    <input type="submit" value="<<" name="Remove" />
                </div>

            <div class="col-sm-2">
                @Html.ListBoxFor(model => model.SelectedParaRightID, new MultiSelectList(Model.paraRightList, "Value", "Text"), new { @id = "ParaID", @style = "width:200px;height:60px;" })
            </div>

        </div>

        <br />
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-2">
                <input type="submit" value="submit" name="Submit" />
            </div>
        </div>
 

    </form>


        <br />
   @Html.TextArea("txtBox",Model.ParaListForTextArea)

    </body>
</html>
